<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or site.title }}</title>

    {% include "partials/seo.njk" %}

    <link rel="stylesheet" href="/css/style.css" />

    <!-- Preload Fonts -->
    <link rel="preload" href="/assets/fonts/inter-var.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/newsreader-var.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/jetbrains-mono-regular.woff2" as="font" type="font/woff2" crossorigin>

    <!-- Favicon Guide: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs -->
    <link rel="icon" href="{{ '/favicons/favicon.ico' | url }}" sizes="32x32">
    <link rel="icon" href="{{ '/favicons/icon.svg' | url }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ '/favicons/apple-touch-icon.png' | url }}">
    <link rel="manifest" href="/manifest.webmanifest">

  </head>
  <body class="antialiased">
    <div class="container mx-auto max-w-3xl p-4">
      {% include "partials/header.njk" %}

      <main class="mt-8">
        {{ content | safe }}
      </main>

      {% include "partials/footer.njk" %}
    </div>

    <!-- Umami analytics script will be injected here -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>



