---
layout: layouts/base.njk
---

<article class="prose lg:prose-xl">
  <h1>{{ title }}</h1>
  <p class="text-sm text-gray-500">Published on: {{ date | readableDate }}</p>

  {{ content | safe }}

  <!-- Giscus comments will be injected here -->
</article>