---
permalink: /short-bytes.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }} - Short Bytes</title>
  <subtitle>Quick notes, tips, and code snippets.</subtitle>
  <link href="{{ permalink | absoluteUrl(site.url) }}" rel="self"/>
  <link href="{{ site.url }}/short-bytes/"/>
  <updated>{{ collections.shortBytes | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/short-bytes/</id>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
  </author>
  {%- for shortByte in collections.shortBytes %}
  {%- set absoluteShortByteUrl = shortByte.url | absoluteUrl(site.url) %}
  <entry>
    <title>{{ shortByte.data.title }}</title>
    <link href="{{ absoluteShortByteUrl }}"/>
    <updated>{{ shortByte.date | dateToRfc3339 }}</updated>
    <id>{{ absoluteShortByteUrl }}</id>
    <summary>{{ shortByte.data.description }}</summary>
    <content type="html"><![CDATA[
      {{ shortByte.templateContent | htmlToAbsoluteUrls(absoluteShortByteUrl) | safe }}
    ]]></content>
  </entry>
  {%- endfor %}
</feed>
