{# Search Modal Overlay #}
<div id="search-modal" class="search-modal" aria-hidden="true">
  <div class="search-modal-backdrop" id="search-backdrop"></div>
  <div class="search-modal-content">
    <div id="search-container" class="search-container"></div>
    <p class="search-hint">Press <kbd>Esc</kbd> to close</p>
  </div>
</div>

{# Pagefind CSS and JS #}
<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/_pagefind/pagefind-ui.js" defer></script>
<script src="/assets/js/search.js" defer></script>
